n8n-workflow-reactive-ingest.json
{
  "name": "Omnissiah — Reactive Pipeline Steps 1-3 (Ingest + Normalize + Extract)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alerts/ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa111111-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1040,
        -272
      ],
      "webhookId": "omnissiah-alerts-ingest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/alerts/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "REPLACE_WITH_SHARED_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "aa111111-0000-4000-8000-000000000002",
      "name": "Ingest Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -272
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "aa111111-0000-4000-8000-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1488,
        -272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ingest Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Alert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11111111-1111-1111-1111-111111111111",
  "meta": {
    "instanceId": "f9ed0a5b595620e60fd1ffca74398356c321981b8b8a7a5d2d9e611e39b386fe"
  },
  "id": "R3act1v3Ingest001",
  "tags": []
}